html, body, h1, h2, h3, h4, h5, p, a, span, label, input {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 400 !important;
}
.hidden {
	display: none;
}
.slides {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 400 !important;
}
.container.white {
	height: auto !important;
}
.macbook-61.shiftImageVertical.shiftImage {
	margin: -5% -100% -19% -119%;
}
.macbook-62.shiftImageVertical.shiftImage {
	margin: 0 -100% 0 0%;
}
.slide2RightColumn {
	padding-left: 80px !important;
}
.leftC {
	text-align: left !important;
}
.inputCLabel {
	/*width: 260px !important;*/
	margin-left: -1px !important;
}
.textareaCLabel {
	/*width: 260px !important;*/
	/*margin-left: -2px !important;*/
}
.inputC {
	background-color: rgba(109, 136, 170, 0.2) !important;
	color: white !important;
	border: 1px solid white !important;
	border-radius: 0 !important;
	height: 50px !important;
	/*width: 260px !important;*/
}
.textAreaC {
	min-height: 100px !important;
	height: 100px !important;
	/*width: 849px !important;*/
	width: 100% !important;
	/*margin-left: -1px !important;*/
}
.buttonContainerC {
	/*padding-left: 15px !important;
	padding-right: 15px !important;*/
}
#contact-form {
	/*width: 850px !important;*/
	margin: 0 auto !important;
}
.buttonC {
	border: 2px solid white !important;
	background-color: rgba(109, 136, 170, 0.2) !important;
	width: auto !important;
	margin-top: 40px !important;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 700 !important;
	font-size: 16px !important;
}
.buttonC:hover {
	background: rgb(118,147,221) !important;
	border: 2px solid rgb(118,147,221) !important;
	box-shadow: none !important;
}
.hrC {
	background: rgb(233,233,233) !important;
	height: 1.01px;
}
.slideTitleC {
	text-transform: uppercase !important;
	font-size: 14px !important;
	font-weight: 700 !important;
	color: #444444;
	margin-bottom: 0px !important;
	letter-spacing: 5px !important;
}
.slideSubtitleC {
	font-weight: 300 !important;
	letter-spacing: 2px !important;
	line-height: 63px !important;
}
.smallSlideTitleC {
	font-size: 20px !important;
	font-weight: 600 !important;
	color: #444444;
}
.slideTitleC.colored {
	color: #ffffff;
}
.slideDescriptionC {
	font-size: 20px !important;
	line-height: 40px !important;
}
.slideSmallDescriptionC {
	font-size: 16px !important;
	line-height: 30px !important;
}
.dividerC {
	height: 20px;
	width: 80px;
	margin: 0 auto;
	border-bottom: 2px solid rgb(118,147,221);
	margin-bottom: 30px !important;
}
.dividerLeftC {
	height: 20px;
	width: 80px;
	border-bottom: 2px solid rgb(118,147,221);
	margin-bottom: 30px !important;
}
.sliderBox-83 {
	margin-bottom: 65px !important;
}
.bottomMarginC {
	margin-bottom: 80px !important;
}
.bottomMarginC2 {
	margin-bottom: 40px !important;
}
.bottomMarginC3 {
	margin-bottom: 50px !important;
}
.bottomMarginC4 {
	margin-bottom: 20px !important;
}
.bottomMarginC5 {
	margin-bottom: 60px !important;
}
.bottomMarginC6 {
	margin-bottom: 70px !important;
}
.bottomMarginC7 {
	margin-bottom: 0px !important;
}
.bottomMarginC8 {
	margin-bottom: 35px !important;
}
.topMarginC {
	margin-top: 30px !important;
}
.topMarginC2 {
	margin-top: 0px !important;
}
.topMarginC3 {
	margin-top: 80px !important;
}
.topMarginC4 {
	margin-top: 60px !important;
}
.topMarginC5 {
	margin-top: 35px !important;
}
.topMarginC6 {
	margin-top: 50px !important;
}
.topMarginC7 {
	margin-top: 20px !important;
}
.topMarginC8 {
	margin-top: -15px !important;
}
.topMarginC9 {
	margin-top: 73px !important;
}
.leftControl-83, .rightControl-83 {
	margin-top: -76px !important;
}
body .slide.whiteSlide {
	color: #888888 !important;
}
.VAParentC {
	display: table !important;
	vertical-align: middle !important;
	text-align: center !important;
	/*margin-top: 30px !important;*/
}
.VAChildC {
	display: table-cell !important;
	vertical-align: middle !important;
	text-align: center !important;
}
.VAChildC2 {
	margin-top: 11.5px;
}
/*1 slide*/
.slideColored {
	height: 900px !important;
}
.contentColored {
	height: 900px !important;
}
.containerColored {
	height: 900px !important;
}
.logoImgAC {
	width: 33% !important;
	min-width: 157px !important;
	height: 90px !important;
}
.logoImgC {
	height: 48px !important;
	width: 182px !important;
	min-width: 182px !important;
	margin-top: 15px;
}
.content {
	background-color: transparent !important;
}
.button.button-76 {
	width: 50px !important;
	height: 50px !important;
	padding: 11px 16px !important;
}
.text-76 {
	left: 20px !important;
}
.sections > div {
	width: auto;
}
.sections .menu li {
	font-size: 16px !important;
	margin: 0 25px !important;
}
.panel {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 400 !important;
	height: 100px !important;
	border-bottom: 1px solid rgba(255,255,255, 0.2);
	vertical-align: middle !important;
	padding: 0 1.8%;
}
.white {
	color: #888888 !important;
}
.panel .sections {
	height: 100px !important;
}
.sections .left {
	height: 100px !important;
	width: 157px !important;
}
.button.menuButton {
	font-size: 16px !important;
	font-weight: 700 !important;
	border: 2px solid #ffffff !important;
	color: #ffffff;
	background: transparent;
}
.button.menuButton:hover {
	background: rgb(118,147,221);
	border: 2px solid rgb(118,147,221) !important;
	box-shadow: none !important;
}
.text-76 {
	font-weight: 300 !important;
}
.mainTitleC {
	color: #ffffff !important;
	font-size: 60px !important;
	font-weight: 700 !important;
	margin-bottom: 25px !important;
	margin-top: 10px !important;
	letter-spacing: 0px !important;
}
/*2 slide*/
.small.ae-2 {
	font-size: 48px;
	color: #444444;
	margin-bottom: 80px;
}
.small.ae-2.colored {
	color: #ffffff;
}
.wrap.whiteSlide {
	padding-top: 100px !important;
	padding-bottom: 100px !important;
}
.wrap.whiteSlide2 {
	padding-top: 100px !important;
	padding-bottom: 120px !important;
}
.wrap.whiteSlide4 {
	padding-top: 100px !important;
	padding-bottom: 90px !important;
}
.wrap.coloredSlide5 {
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}
.deviceButton {
	cursor: pointer;
}
.iphone-76 {
	margin: 0 !important;
    position: relative;
    /*top: 0;
    left: 0;
    width:150%;*/
    width: 887px !important;
}
.custom-iphone-76 {
	/*margin: -13% 0 -70%;*/
	margin: 0 !important;
    position: absolute;
    /*top: 8.5%;*/
    top: 41px;
    /*left: 41px;*/
    /*left: 4.6%;*/
    left: 41px;
    /*width:91%;*/
    width: 805px !important;
}
.imgContainerC {
	position: relative;
	left: 0px;
	top: 0px;
	margin: -13% 0 -70%;
	/*width:200%;*/
	width: 805px !important;
}